/* Global style to remove default margins and padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

/* App container occupying full viewport */
.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  display: grid;
  place-items: center;
}

/* Join Chat Container */
.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

/* Chat window occupying the entire screen */
.chat-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-window p {
  margin: 0;
}

/* Chat header */
.chat-window .chat-header {
  height: 60px;
  background: #263238;
  padding: 0 1em;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Chat body with auto-scroll */
.chat-window .chat-body {
  flex: 1;
  border: 1px solid #263238;
  background: #fff;
  overflow-y: auto;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  padding: 10px;
  display: flex;
}

/* Message content styling */
.chat-window .chat-body .message .message-content {
  min-height: 40px;
  max-width: 60%;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  padding: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Aligning user and other messages */
#you {
  justify-content: flex-start;
}

#you .message-content {
  background-color: #43a047;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  background-color: cornflowerblue;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

/* Chat footer */
.chat-window .chat-footer {
  height: 60px;
  display: flex;
  border-top: 1px solid #263238;
}

.chat-window .chat-footer input {
  flex: 1;
  padding: 0 10px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.chat-window .chat-footer button {
  width: 60px;
  background: transparent;
  border: none;
  font-size: 25px;
  color: lightgray;
  cursor: pointer;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}

/* Hidden element class */
.hide {
  opacity: 0 !important;
}
